<!DOCTYPE html>
<html lang="en">
  <head>
    <%- partial('_includes/head') %>
  </head>
  <body>
    <div id="app">
      <!-- Header Start -->
      <header>Header</header>
      <!-- Header End -->

      <!-- Body Start -->
      <%- body %>
      <!-- Body End -->

      <!-- Footer Start -->
      <footer>Footer</footer>
      <!-- Footer End -->
    </div>

    <!-- Script Start -->
    <%- partial('_includes/script') %>
    <!-- Script End -->
  </body>
</html>
