<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- Title -->
<% var title = page.title; %>
<title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>

<!-- Fonts -->
<link
  rel="stylesheet"
  href="https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css" />

<!-- RemixIcon -->
<link
  rel="stylesheet"
  href="https://unpkg.com/remixicon@4.6.0/fonts/remixicon.css" />

<!-- TailwindCss -->
<%- css('css/tailwind/output') %>

<!-- Css -->
<%- css('css/app') %>
